*~
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild
[Bb]uilds
[Ll]ibrary/
sysinfo.txt
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/*.gd
*.stackdump
.gd
.DS_Store*
._*
.Spotlight-V100
.Trashes
*.gd
*.gd.meta
*.orig
*.vcxproj
*.vcxproj*
*.sln
